<!-- Name: Pawanpreet Kaur
    Date: June 8, 2023
    Challenge5
-->
<!-- showing each prdocutdetails -->
<div>

<h2><%= @product.title %></h2>
<h4>Category: <%= @product.category.name %></h4>
<p><small><%= @product.description %></small></p>
<ul>
<li>Price: <%= @product.price %></li>
<li>Stock Quantity: <%= @product.stock_quantity %></li>
</ul>
<div>
<hr>